# This is Git's per-user configuration file.

#Include our default user config, if any
[include]
  path = ~/.default-user.gitconfig

[includeIf "hasconfig:remote.*.url:ssh://gitea.treehouse.systems/**"]
  path = ~/.treehouse-user.gitconfig

[core]
  editor = vim

[merge]
  conflictstyle = diff3

[alias]
  tree = log --graph --decorate --abbrev-commit --all --oneline

[branch]
  autosetuprebase = always

[rebase]
  autoStash = true
[pull]
  rebase = true
