configuration {
  modes: "drun,calc,emoji:/usr/bin/rofimoji";
  font: "FiraCode Nerd Font 14";

  show-icons: true;
  icon-theme: "Papirus-Dark";
  sidebar-mode: true;
  case-smart: true;
  sort: true;

  run-shell-command:  "kitty -e zsh -ic \"{cmd} && read\"";

  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }

  timeout {
      action: "kb-cancel";
      delay:  0;
  }

}
@import "~/.cache/wal/colors-rofi-light"
@import "base-theme"
