/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @color4;
	}

	to {
		color: @color4;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

@import "colors-waybar.css";

@define-color light @foreground;
@define-color dark @background;
@define-color warning @color8;
@define-color critical @color7;
@define-color mode @color2;
@define-color workspaces @color4;
@define-color workspacesfocused @color13;
@define-color sound @color10;
@define-color network @color14;
@define-color memory @color13;
@define-color cpu @color11;
@define-color temp @color11;
@define-color disk @color12;
@define-color layout @color12;
@define-color battery @color13;
@define-color date @color13;
@define-color time @color14;

/* Gruvbox */
/*
@define-color light #ebdbb2;
@define-color dark #282828;
@define-color warning #fabd2f;
@define-color critical #cc241d;
@define-color mode #a89984;
@define-color workspaces #458588;
@define-color workspacesfocused #83a598;
@define-color sound #d3869b;
@define-color network #b16286;
@define-color memory #8ec07c;
@define-color cpu #98971a;
@define-color temp #b8bb26;
@define-color layout #689d6a;
@define-color battery #fabd2f;
@define-color date #282828;
@define-color time #ebdbb2;
*/
/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
  background: @background;
	opacity: 0.90;
	color: @light;
	font-family: FiraCode Nerd Font, Terminus, Siji;
	font-size: 12pt;
  font-weight: bold;
}



.modules-center {
  font-weight: normal;
}
.modules-left,
.modules-center,
.modules-right {
}


/* Each module */
#battery,
#clock,
#cpu,
#language,
#disk,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray {
	padding-left: 18px;
	padding-right: 18px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @dark;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4px;
	padding-right: 4px;
	color: @dark;
	background: @workspaces;
}

#idle_inhibitor {
	color: @dark;
	background: @workspaces;
	padding-left: 8px;
	padding-right: 10px;
}

#workspaces button.focused {
	background: @workspacesfocused;
}

/*#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}*/

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#custom-alsa,
#pulseaudio,
#sndio {
	background: @sound;
	color: @dark;
}

#network {
	background: @network;
	color: @dark;
}

#memory {
	background: @memory;
	color: @dark;
}

#cpu {
	background: @cpu;
	color: @dark;
}

#temperature {
	background: @temp;
	color: @dark;
}

#language,#disk {
	background: @disk;
	color: @dark;
}

#battery {
	background: @battery;
	color: @dark;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @dark;
}

#clock.time {
	background: @time;
	color: @dark;
}

#pulseaudio.muted {
	/* No styles */
}

